name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  luarocks-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install luarocks
        run: |
          sudo apt-get update
          sudo apt-get install -y luarocks

      - name: Upload to LuaRocks
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
        run: |
          luarocks upload --api-key="$LUAROCKS_API_KEY" *.rockspec
